#banner
    .banner_content
        %h1 File Cabinet 
        %p Your life's work, Organized, always.
        %button= link_to "Enter", new_user_registration_path 

#callouts
    .callout_inner 
        .wrapper 
            .callout
                %h2 Organize
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

#bottom_cta
    .wrapper 
        %h2 Go Ahead! 
        %br 
        %button= link_to "Join Now", new_user_registration_path 
